<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="e171822fc2bf4d77b3d8a9abc38fd1e7" style="width:900px; height:500px;"></div>
    <script>
        var chart_e171822fc2bf4d77b3d8a9abc38fd1e7 = echarts.init(
            document.getElementById('e171822fc2bf4d77b3d8a9abc38fd1e7'), 'white', {renderer: 'canvas'});
        var option_e171822fc2bf4d77b3d8a9abc38fd1e7 = {
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "scatter",
            "name": "\u7c7b\u522b1",
            "symbolSize": 10,
            "data": [
                [
                    141.4,
                    88.314
                ],
                [
                    157.1,
                    90.859
                ],
                [
                    135.1,
                    89.10799999999998
                ],
                [
                    125.7,
                    90.694
                ],
                [
                    135.5,
                    93.796
                ],
                [
                    156.5,
                    90.695
                ],
                [
                    133.0,
                    96.208
                ],
                [
                    140.9,
                    91.569
                ],
                [
                    139.3,
                    91.024
                ],
                [
                    148.7,
                    98.142
                ],
                [
                    172.7,
                    87.24
                ],
                [
                    143.8,
                    87.72200000000002
                ],
                [
                    152.9,
                    89.088
                ],
                [
                    124.1,
                    93.711
                ],
                [
                    134.8,
                    87.816
                ]
            ],
            "label": false
        },
        {
            "type": "scatter",
            "name": "\u7c7b\u522b2",
            "symbolSize": 10,
            "data": [
                [
                    159.6,
                    6.866000000000001
                ],
                [
                    120.8,
                    4.748
                ],
                [
                    112.1,
                    7.511
                ],
                [
                    115.1,
                    11.631
                ],
                [
                    162.6,
                    17.953
                ],
                [
                    116.1,
                    96.684
                ],
                [
                    103.9,
                    26.673
                ],
                [
                    103.0,
                    18.772
                ],
                [
                    123.8,
                    20.657
                ],
                [
                    149.3,
                    8.421
                ],
                [
                    135.4,
                    6.238
                ],
                [
                    129.4,
                    7.709
                ],
                [
                    157.3,
                    5.138999999999998
                ],
                [
                    127.5,
                    3.685
                ],
                [
                    112.8,
                    3.339
                ],
                [
                    101.8,
                    4.058
                ],
                [
                    126.5,
                    66.429
                ],
                [
                    117.8,
                    76.868
                ],
                [
                    110.7,
                    84.234
                ],
                [
                    102.7,
                    89.272
                ],
                [
                    120.8,
                    65.249
                ],
                [
                    100.0,
                    50.728
                ],
                [
                    121.0,
                    76.007
                ],
                [
                    172.3,
                    56.206
                ],
                [
                    135.8,
                    16.111
                ],
                [
                    120.3,
                    12.633
                ],
                [
                    115.3,
                    8.488
                ],
                [
                    137.3,
                    55.78
                ],
                [
                    121.5,
                    70.52
                ],
                [
                    105.6,
                    92.624
                ],
                [
                    150.9,
                    27.925
                ],
                [
                    142.0,
                    55.913
                ],
                [
                    132.6,
                    37.824
                ],
                [
                    119.1,
                    26.999
                ],
                [
                    115.1,
                    17.99900000000001
                ],
                [
                    193.6,
                    69.712
                ],
                [
                    141.3,
                    79.808
                ],
                [
                    128.7,
                    86.446
                ],
                [
                    122.4,
                    90.964
                ],
                [
                    114.9,
                    93.976
                ],
                [
                    106.5,
                    95.881
                ],
                [
                    133.6,
                    73.45100000000002
                ],
                [
                    137.0,
                    48.967
                ],
                [
                    108.8,
                    33.991
                ],
                [
                    118.2,
                    15.751
                ],
                [
                    139.7,
                    10.501
                ],
                [
                    134.7,
                    9.658
                ],
                [
                    122.2,
                    31.478
                ],
                [
                    191.7,
                    54.31800000000001
                ],
                [
                    166.2,
                    69.546
                ],
                [
                    124.2,
                    77.04899999999998
                ],
                [
                    111.0,
                    59.615
                ],
                [
                    148.9,
                    26.077
                ],
                [
                    168.6,
                    18.555
                ],
                [
                    104.7,
                    68.798
                ],
                [
                    131.9,
                    65.42399999999999
                ],
                [
                    105.8,
                    63.121
                ],
                [
                    184.7,
                    47.353
                ],
                [
                    108.6,
                    31.56900000000001
                ],
                [
                    100.2,
                    19.978
                ],
                [
                    135.9,
                    21.947
                ],
                [
                    101.8,
                    6.257999999999999
                ],
                [
                    141.2,
                    46.629
                ],
                [
                    127.5,
                    31.086
                ],
                [
                    134.5,
                    65.868
                ],
                [
                    113.1,
                    74.251
                ],
                [
                    104.3,
                    80.268
                ],
                [
                    153.6,
                    59.11600000000001
                ],
                [
                    161.1,
                    46.271
                ],
                [
                    124.5,
                    33.323
                ],
                [
                    125.8,
                    20.765
                ],
                [
                    117.0,
                    13.984
                ],
                [
                    111.8,
                    5.731
                ],
                [
                    131.9,
                    80.104
                ],
                [
                    122.1,
                    86.736
                ],
                [
                    112.7,
                    91.157
                ],
                [
                    100.6,
                    93.475
                ],
                [
                    112.0,
                    81.958
                ],
                [
                    136.6,
                    74.12899999999998
                ],
                [
                    106.6,
                    64.078
                ],
                [
                    103.6,
                    18.083
                ],
                [
                    105.5,
                    15.205
                ],
                [
                    106.1,
                    10.24
                ],
                [
                    120.8,
                    78.294
                ],
                [
                    111.9,
                    29.457
                ],
                [
                    143.5,
                    60.93899999999999
                ],
                [
                    106.0,
                    73.96
                ],
                [
                    107.6,
                    82.436
                ],
                [
                    104.8,
                    88.291
                ],
                [
                    108.8,
                    92.194
                ],
                [
                    103.4,
                    97.856
                ],
                [
                    101.9,
                    98.132
                ],
                [
                    167.3,
                    25.565
                ],
                [
                    126.7,
                    19.431
                ],
                [
                    103.7,
                    19.245
                ],
                [
                    153.4,
                    20.589
                ],
                [
                    112.9,
                    82.631
                ],
                [
                    144.9,
                    57.434
                ],
                [
                    130.6,
                    51.757
                ],
                [
                    116.6,
                    25.582
                ],
                [
                    109.7,
                    63.081
                ],
                [
                    114.0,
                    48.566
                ],
                [
                    123.9,
                    37.556
                ],
                [
                    156.2,
                    29.134
                ],
                [
                    102.0,
                    42.777
                ],
                [
                    101.4,
                    86.319
                ],
                [
                    100.3,
                    93.837
                ],
                [
                    105.0,
                    91.658
                ],
                [
                    112.1,
                    67.122
                ],
                [
                    108.8,
                    48.514
                ],
                [
                    136.0,
                    37.051
                ],
                [
                    181.5,
                    24.7
                ],
                [
                    170.4,
                    16.467
                ],
                [
                    136.9,
                    8.807
                ],
                [
                    105.3,
                    39.091
                ],
                [
                    107.1,
                    27.582
                ],
                [
                    137.1,
                    46.364
                ],
                [
                    104.5,
                    13.737
                ],
                [
                    105.2,
                    9.895
                ],
                [
                    103.7,
                    81.014
                ],
                [
                    110.0,
                    15.084
                ],
                [
                    158.6,
                    17.12
                ],
                [
                    168.6,
                    19.754
                ],
                [
                    129.7,
                    11.608
                ],
                [
                    179.4,
                    46.572
                ],
                [
                    129.3,
                    39.067
                ],
                [
                    128.0,
                    82.24700000000001
                ],
                [
                    103.1,
                    30.968
                ],
                [
                    117.2,
                    23.034
                ],
                [
                    103.1,
                    15.356
                ],
                [
                    100.5,
                    12.223
                ],
                [
                    107.9,
                    6.051
                ],
                [
                    102.3,
                    8.956
                ],
                [
                    129.4,
                    6.678
                ],
                [
                    117.2,
                    8.675
                ],
                [
                    158.6,
                    7.39
                ],
                [
                    147.6,
                    7.116000000000001
                ],
                [
                    145.6,
                    4.744
                ],
                [
                    107.0,
                    85.882
                ],
                [
                    106.9,
                    90.411
                ],
                [
                    119.7,
                    90.057
                ],
                [
                    156.8,
                    79.333
                ],
                [
                    109.1,
                    21.477
                ],
                [
                    108.0,
                    14.735
                ],
                [
                    116.7,
                    16.887
                ],
                [
                    136.7,
                    15.532
                ],
                [
                    179.9,
                    10.757
                ],
                [
                    161.0,
                    49.008
                ],
                [
                    134.9,
                    66.005
                ],
                [
                    131.3,
                    71.35300000000002
                ],
                [
                    120.8,
                    77.227
                ],
                [
                    104.4,
                    81.97
                ],
                [
                    107.8,
                    85.462
                ],
                [
                    107.8,
                    12.129
                ],
                [
                    111.5,
                    8.669
                ],
                [
                    104.0,
                    11.054
                ],
                [
                    102.4,
                    8.001
                ],
                [
                    104.8,
                    7.446000000000002
                ],
                [
                    150.9,
                    79.061
                ],
                [
                    126.9,
                    86.041
                ],
                [
                    116.1,
                    94.071
                ],
                [
                    106.6,
                    93.663
                ],
                [
                    108.2,
                    95.775
                ],
                [
                    115.4,
                    97.184
                ],
                [
                    114.5,
                    97.128
                ],
                [
                    178.3,
                    33.536
                ],
                [
                    149.8,
                    22.699
                ],
                [
                    130.8,
                    15.133
                ],
                [
                    108.1,
                    11.484
                ],
                [
                    100.3,
                    8.906
                ],
                [
                    124.8,
                    6.495
                ],
                [
                    111.8,
                    5.416
                ],
                [
                    126.7,
                    3.611
                ],
                [
                    115.3,
                    5.121
                ],
                [
                    143.3,
                    6.558
                ],
                [
                    162.3,
                    6.355
                ],
                [
                    140.0,
                    7.94
                ],
                [
                    115.0,
                    70.048
                ],
                [
                    106.8,
                    80.032
                ],
                [
                    103.9,
                    31.093
                ],
                [
                    126.2,
                    60.676
                ],
                [
                    132.3,
                    67.39399999999999
                ],
                [
                    125.3,
                    50.353
                ],
                [
                    118.9,
                    46.849
                ],
                [
                    130.9,
                    48.823
                ],
                [
                    181.0,
                    47.257
                ],
                [
                    157.4,
                    39.961
                ],
                [
                    157.5,
                    42.012
                ],
                [
                    115.9,
                    16.879
                ],
                [
                    165.4,
                    46.053
                ],
                [
                    195.8,
                    47.212
                ],
                [
                    117.4,
                    46.106
                ],
                [
                    136.8,
                    8.017999999999999
                ],
                [
                    108.6,
                    24.834
                ],
                [
                    108.8,
                    5.292000000000002
                ],
                [
                    104.9,
                    72.027
                ],
                [
                    104.2,
                    78.02
                ],
                [
                    101.6,
                    85.101
                ],
                [
                    100.9,
                    87.555
                ],
                [
                    105.0,
                    90.044
                ],
                [
                    103.7,
                    91.317
                ],
                [
                    101.0,
                    96.527
                ],
                [
                    101.1,
                    91.915
                ],
                [
                    108.6,
                    96.809
                ],
                [
                    108.6,
                    97.873
                ],
                [
                    110.3,
                    98.582
                ],
                [
                    112.7,
                    98.64
                ],
                [
                    150.3,
                    86.77
                ],
                [
                    114.0,
                    61.595
                ],
                [
                    172.5,
                    51.041
                ],
                [
                    134.8,
                    18.783
                ],
                [
                    106.0,
                    12.522
                ],
                [
                    102.0,
                    10.54
                ],
                [
                    108.8,
                    20.748
                ],
                [
                    127.3,
                    14.054
                ],
                [
                    112.7,
                    6.246
                ],
                [
                    103.0,
                    5.267
                ],
                [
                    102.1,
                    7.044
                ],
                [
                    110.9,
                    4.696000000000002
                ],
                [
                    118.9,
                    17.545
                ],
                [
                    164.4,
                    53.202
                ],
                [
                    105.0,
                    22.95
                ],
                [
                    112.4,
                    16.132
                ],
                [
                    110.1,
                    13.437
                ],
                [
                    103.7,
                    11.87
                ],
                [
                    120.8,
                    7.912999999999998
                ],
                [
                    108.0,
                    16.17
                ],
                [
                    123.6,
                    19.265
                ],
                [
                    127.0,
                    12.843
                ],
                [
                    113.1,
                    10.263
                ],
                [
                    116.2,
                    8.084
                ],
                [
                    119.7,
                    7.707999999999998
                ],
                [
                    113.7,
                    8.679
                ],
                [
                    119.7,
                    8.203
                ],
                [
                    123.1,
                    8.537
                ],
                [
                    114.2,
                    32.372
                ],
                [
                    198.8,
                    69.678
                ],
                [
                    146.2,
                    79.153
                ],
                [
                    135.3,
                    83.169
                ],
                [
                    110.3,
                    84.38
                ],
                [
                    111.2,
                    37.509
                ],
                [
                    108.9,
                    48.078
                ],
                [
                    101.0,
                    35.495
                ],
                [
                    100.4,
                    18.959
                ],
                [
                    106.2,
                    33.074
                ],
                [
                    100.7,
                    75.328
                ],
                [
                    109.4,
                    81.319
                ],
                [
                    109.3,
                    95.165
                ],
                [
                    139.9,
                    65.265
                ],
                [
                    103.3,
                    44.722
                ],
                [
                    125.5,
                    24.733
                ],
                [
                    129.7,
                    28.445
                ],
                [
                    123.5,
                    72.403
                ],
                [
                    120.9,
                    81.602
                ],
                [
                    140.2,
                    61.506
                ],
                [
                    161.2,
                    75.931
                ],
                [
                    117.8,
                    83.954
                ],
                [
                    121.5,
                    89.303
                ],
                [
                    106.2,
                    92.868
                ],
                [
                    108.1,
                    95.246
                ],
                [
                    102.8,
                    95.478
                ],
                [
                    139.0,
                    48.823
                ],
                [
                    135.8,
                    32.576
                ],
                [
                    103.6,
                    23.767
                ],
                [
                    102.1,
                    17.361
                ],
                [
                    188.5,
                    40.127
                ],
                [
                    123.3,
                    60.084
                ],
                [
                    126.9,
                    72.845
                ],
                [
                    116.1,
                    81.487
                ],
                [
                    117.1,
                    90.122
                ],
                [
                    149.9,
                    51.307
                ],
                [
                    149.6,
                    50.93
                ],
                [
                    152.6,
                    41.712
                ],
                [
                    120.5,
                    36.627
                ],
                [
                    147.7,
                    34.334
                ],
                [
                    104.6,
                    45.878
                ],
                [
                    135.7,
                    45.981
                ],
                [
                    117.7,
                    36.914
                ],
                [
                    125.7,
                    61.989
                ],
                [
                    103.7,
                    74.65899999999998
                ],
                [
                    107.2,
                    67.141
                ],
                [
                    106.8,
                    69.98
                ],
                [
                    122.8,
                    87.354
                ],
                [
                    118.4,
                    21.833
                ],
                [
                    114.1,
                    16.851
                ],
                [
                    113.4,
                    11.208
                ],
                [
                    100.9,
                    16.509
                ],
                [
                    117.3,
                    48.633
                ],
                [
                    100.3,
                    12.197
                ],
                [
                    106.6,
                    63.503
                ],
                [
                    141.8,
                    84.678
                ],
                [
                    128.3,
                    84.92200000000003
                ],
                [
                    123.2,
                    84.851
                ],
                [
                    114.9,
                    27.978
                ],
                [
                    165.4,
                    60.062
                ],
                [
                    105.9,
                    71.484
                ],
                [
                    113.3,
                    71.485
                ],
                [
                    115.5,
                    19.078
                ],
                [
                    102.8,
                    34.315
                ],
                [
                    100.3,
                    88.47
                ],
                [
                    110.5,
                    51.481
                ],
                [
                    158.3,
                    47.137
                ],
                [
                    115.5,
                    43.93
                ],
                [
                    179.9,
                    60.26300000000001
                ],
                [
                    103.5,
                    36.095
                ],
                [
                    107.9,
                    31.82
                ],
                [
                    177.8,
                    57.913
                ],
                [
                    103.4,
                    34.115
                ],
                [
                    104.0,
                    63.839
                ],
                [
                    156.5,
                    16.24
                ],
                [
                    103.9,
                    69.607
                ],
                [
                    100.2,
                    77.38600000000002
                ],
                [
                    111.7,
                    85.9
                ],
                [
                    105.1,
                    92.537
                ],
                [
                    106.8,
                    95.024
                ],
                [
                    100.8,
                    82.007
                ],
                [
                    111.1,
                    86.536
                ],
                [
                    104.6,
                    26.947
                ],
                [
                    112.7,
                    6.04
                ],
                [
                    117.3,
                    10.866
                ],
                [
                    104.5,
                    73.282
                ],
                [
                    127.3,
                    36.671
                ],
                [
                    106.2,
                    31.354
                ],
                [
                    119.8,
                    20.902
                ],
                [
                    179.0,
                    46.79
                ],
                [
                    161.3,
                    26.861
                ],
                [
                    100.2,
                    15.084
                ],
                [
                    145.3,
                    21.19
                ],
                [
                    174.8,
                    67.862
                ],
                [
                    104.1,
                    86.46700000000001
                ],
                [
                    108.2,
                    79.229
                ],
                [
                    105.4,
                    78.113
                ],
                [
                    104.6,
                    49.828
                ],
                [
                    122.1,
                    24.55
                ],
                [
                    116.6,
                    17.631
                ],
                [
                    118.9,
                    19.208
                ],
                [
                    126.9,
                    25.189
                ],
                [
                    100.7,
                    18.404
                ],
                [
                    161.0,
                    7.347
                ],
                [
                    196.3,
                    47.272
                ],
                [
                    105.7,
                    80.079
                ],
                [
                    107.8,
                    86.719
                ],
                [
                    114.5,
                    92.13
                ],
                [
                    102.2,
                    92.728
                ],
                [
                    126.7,
                    86.37100000000002
                ],
                [
                    104.3,
                    23.058
                ],
                [
                    101.6,
                    16.662
                ],
                [
                    114.5,
                    77.361
                ],
                [
                    109.5,
                    84.90700000000002
                ],
                [
                    152.9,
                    74.447
                ],
                [
                    101.5,
                    80.663
                ],
                [
                    120.5,
                    82.65100000000002
                ],
                [
                    102.4,
                    80.205
                ],
                [
                    109.4,
                    86.465
                ],
                [
                    101.7,
                    89.365
                ],
                [
                    116.1,
                    93.351
                ],
                [
                    117.2,
                    89.43
                ],
                [
                    123.5,
                    88.09899999999998
                ],
                [
                    106.8,
                    87.073
                ],
                [
                    111.2,
                    91.513
                ],
                [
                    111.1,
                    93.37
                ],
                [
                    111.1,
                    95.326
                ],
                [
                    107.7,
                    95.819
                ],
                [
                    108.0,
                    97.213
                ],
                [
                    109.9,
                    96.487
                ],
                [
                    124.6,
                    86.936
                ],
                [
                    100.0,
                    37.562
                ],
                [
                    120.3,
                    71.892
                ],
                [
                    113.3,
                    81.26100000000002
                ],
                [
                    105.0,
                    79.266
                ],
                [
                    131.2,
                    80.209
                ],
                [
                    197.4,
                    80.679
                ],
                [
                    111.3,
                    91.493
                ],
                [
                    114.1,
                    93.594
                ],
                [
                    103.2,
                    95.14
                ],
                [
                    113.5,
                    53.94
                ],
                [
                    107.3,
                    78.042
                ],
                [
                    127.4,
                    26.005
                ],
                [
                    110.5,
                    17.337
                ],
                [
                    110.9,
                    12.49
                ],
                [
                    108.1,
                    8.492
                ],
                [
                    182.5,
                    16.985
                ],
                [
                    114.3,
                    15.74
                ],
                [
                    124.5,
                    10.494
                ],
                [
                    139.9,
                    8.798
                ],
                [
                    136.5,
                    11.107
                ],
                [
                    116.4,
                    69.88
                ],
                [
                    103.6,
                    78.704
                ],
                [
                    108.2,
                    32.048
                ],
                [
                    112.1,
                    26.632
                ],
                [
                    140.5,
                    25.947
                ],
                [
                    172.5,
                    25.38
                ],
                [
                    107.0,
                    89.191
                ],
                [
                    122.5,
                    90.714
                ],
                [
                    108.7,
                    33.954
                ],
                [
                    100.0,
                    28.59
                ],
                [
                    111.7,
                    31.716
                ],
                [
                    112.3,
                    96.146
                ],
                [
                    101.6,
                    96.9
                ],
                [
                    120.1,
                    97.933
                ],
                [
                    120.4,
                    98.114
                ],
                [
                    104.6,
                    91.977
                ],
                [
                    111.7,
                    62.658
                ],
                [
                    142.4,
                    73.92
                ],
                [
                    118.3,
                    79.435
                ],
                [
                    105.6,
                    81.56
                ],
                [
                    106.7,
                    77.053
                ],
                [
                    134.3,
                    60.777
                ],
                [
                    101.1,
                    57.978
                ],
                [
                    136.2,
                    57.163
                ],
                [
                    140.3,
                    58.68899999999999
                ],
                [
                    108.3,
                    81.001
                ],
                [
                    108.5,
                    91.426
                ],
                [
                    110.7,
                    28.866
                ],
                [
                    101.5,
                    19.244
                ],
                [
                    115.7,
                    25.959
                ],
                [
                    100.0,
                    21.925
                ],
                [
                    104.1,
                    19.707
                ],
                [
                    111.8,
                    24.124
                ],
                [
                    149.0,
                    13.832
                ],
                [
                    105.5,
                    57.622
                ],
                [
                    132.8,
                    71.748
                ],
                [
                    119.4,
                    80.083
                ],
                [
                    113.9,
                    86.72200000000002
                ],
                [
                    105.3,
                    88.603
                ],
                [
                    177.0,
                    41.7
                ],
                [
                    120.8,
                    43.02
                ],
                [
                    103.2,
                    9.47
                ],
                [
                    100.0,
                    86.735
                ],
                [
                    102.0,
                    94.104
                ],
                [
                    174.4,
                    73.884
                ],
                [
                    157.5,
                    82.589
                ],
                [
                    108.3,
                    78.038
                ],
                [
                    100.0,
                    78.411
                ],
                [
                    129.6,
                    23.111
                ],
                [
                    142.6,
                    8.482000000000001
                ],
                [
                    112.6,
                    11.165
                ],
                [
                    134.3,
                    14.341
                ],
                [
                    150.1,
                    31.331
                ],
                [
                    136.7,
                    71.467
                ],
                [
                    114.9,
                    83.632
                ],
                [
                    122.2,
                    83.985
                ],
                [
                    101.3,
                    81.333
                ],
                [
                    106.8,
                    87.463
                ],
                [
                    155.2,
                    62.916
                ],
                [
                    106.3,
                    50.032
                ],
                [
                    121.5,
                    40.17
                ],
                [
                    103.2,
                    73.952
                ],
                [
                    120.9,
                    8.134
                ],
                [
                    131.0,
                    21.358
                ],
                [
                    134.1,
                    72.495
                ],
                [
                    183.0,
                    71.25399999999998
                ],
                [
                    147.0,
                    11.377
                ],
                [
                    121.6,
                    9.443
                ],
                [
                    110.8,
                    21.74
                ],
                [
                    137.1,
                    29.701
                ],
                [
                    114.1,
                    53.547
                ],
                [
                    114.7,
                    20.81
                ],
                [
                    101.3,
                    16.637
                ],
                [
                    100.5,
                    55.495
                ],
                [
                    119.5,
                    41.125
                ],
                [
                    103.5,
                    29.079
                ],
                [
                    109.8,
                    21.314
                ],
                [
                    121.8,
                    14.663
                ],
                [
                    149.7,
                    34.789
                ],
                [
                    101.0,
                    25.896
                ],
                [
                    111.9,
                    20.267
                ],
                [
                    114.7,
                    9.204
                ],
                [
                    119.7,
                    5.669
                ],
                [
                    136.2,
                    12.129
                ],
                [
                    108.4,
                    50.644
                ],
                [
                    153.4,
                    9.519
                ],
                [
                    116.7,
                    65.26100000000001
                ],
                [
                    124.0,
                    73.304
                ],
                [
                    135.1,
                    75.367
                ],
                [
                    189.0,
                    54.177
                ],
                [
                    104.0,
                    36.118
                ],
                [
                    140.8,
                    86.90700000000002
                ],
                [
                    192.2,
                    34.131
                ],
                [
                    100.9,
                    53.441
                ],
                [
                    117.2,
                    65.12100000000001
                ],
                [
                    113.2,
                    75.678
                ],
                [
                    105.3,
                    82.38600000000002
                ],
                [
                    137.9,
                    84.18700000000003
                ],
                [
                    101.1,
                    90.101
                ],
                [
                    102.6,
                    49.112
                ],
                [
                    143.6,
                    62.304
                ],
                [
                    103.1,
                    60.374
                ],
                [
                    108.2,
                    21.846
                ],
                [
                    175.0,
                    63.668
                ],
                [
                    133.2,
                    44.175
                ],
                [
                    106.5,
                    34.092
                ],
                [
                    120.1,
                    88.35700000000001
                ],
                [
                    113.8,
                    35.702
                ],
                [
                    154.5,
                    31.664
                ],
                [
                    100.2,
                    87.19200000000002
                ],
                [
                    110.8,
                    96.308
                ],
                [
                    115.6,
                    85.648
                ],
                [
                    133.7,
                    84.749
                ],
                [
                    116.8,
                    88.001
                ],
                [
                    110.3,
                    89.376
                ],
                [
                    100.4,
                    31.138
                ],
                [
                    128.7,
                    27.789
                ],
                [
                    102.4,
                    19.605
                ],
                [
                    105.1,
                    77.26100000000002
                ],
                [
                    131.8,
                    45.104
                ],
                [
                    117.9,
                    62.397
                ],
                [
                    101.5,
                    74.931
                ],
                [
                    129.4,
                    54.015
                ],
                [
                    104.3,
                    28.487
                ],
                [
                    104.0,
                    10.308
                ],
                [
                    107.7,
                    6.436
                ],
                [
                    103.1,
                    8.264
                ],
                [
                    118.5,
                    14.971
                ],
                [
                    117.6,
                    62.508
                ],
                [
                    102.4,
                    69.069
                ],
                [
                    128.6,
                    78.486
                ],
                [
                    139.4,
                    32.317
                ],
                [
                    103.2,
                    18.762
                ],
                [
                    107.2,
                    11.153
                ],
                [
                    190.0,
                    79.343
                ],
                [
                    112.8,
                    86.149
                ],
                [
                    103.8,
                    86.62100000000002
                ],
                [
                    146.9,
                    73.514
                ],
                [
                    105.6,
                    71.788
                ],
                [
                    141.6,
                    69.837
                ],
                [
                    147.7,
                    60.187
                ],
                [
                    141.3,
                    68.97800000000001
                ],
                [
                    101.7,
                    58.654
                ],
                [
                    108.9,
                    32.825
                ],
                [
                    111.9,
                    18.678
                ],
                [
                    142.9,
                    32.298
                ],
                [
                    182.4,
                    72.741
                ],
                [
                    120.4,
                    81.827
                ],
                [
                    122.5,
                    39.718
                ],
                [
                    111.8,
                    56.48
                ],
                [
                    103.9,
                    39.267
                ],
                [
                    127.4,
                    58.556
                ],
                [
                    171.3,
                    50.872
                ],
                [
                    116.3,
                    34.484
                ],
                [
                    121.7,
                    47.31399999999999
                ],
                [
                    192.7,
                    62.018
                ],
                [
                    161.0,
                    69.403
                ],
                [
                    162.9,
                    71.398
                ],
                [
                    100.0,
                    82.48100000000002
                ],
                [
                    116.4,
                    46.305
                ],
                [
                    112.2,
                    64.84100000000001
                ],
                [
                    121.3,
                    76.561
                ],
                [
                    113.3,
                    83.814
                ],
                [
                    118.8,
                    87.021
                ],
                [
                    118.0,
                    91.347
                ],
                [
                    106.2,
                    94.232
                ],
                [
                    100.6,
                    96.154
                ],
                [
                    106.8,
                    96.822
                ],
                [
                    116.1,
                    84.81200000000003
                ],
                [
                    103.5,
                    7.661
                ],
                [
                    141.2,
                    6.491000000000001
                ],
                [
                    111.3,
                    5.532
                ],
                [
                    107.4,
                    3.688
                ],
                [
                    158.9,
                    55.93600000000001
                ],
                [
                    119.2,
                    64.97
                ],
                [
                    120.1,
                    67.607
                ],
                [
                    114.3,
                    67.133
                ],
                [
                    109.5,
                    64.585
                ],
                [
                    163.5,
                    50.729
                ],
                [
                    123.5,
                    47.807
                ],
                [
                    140.7,
                    46.166
                ],
                [
                    196.7,
                    76.074
                ],
                [
                    141.4,
                    81.72399999999998
                ],
                [
                    110.6,
                    86.98899999999998
                ],
                [
                    108.4,
                    84.439
                ],
                [
                    113.6,
                    53.76
                ],
                [
                    108.1,
                    8.74
                ]
            ],
            "label": false
        }
    ],
    "legend": [
        {
            "data": [
                "\u7c7b\u522b1",
                "\u7c7b\u522b2"
            ],
            "selected": {
                "\u7c7b\u522b1": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "xAxis": [
        {
            "name": "A",
            "show": true,
            "scale": true,
            "nameLocation": "end",
            "nameGap": 15,
            "nameTextStyle": {
                "fontSize": 40
            },
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": null
        }
    ],
    "title": [
        {}
    ]
};
        chart_e171822fc2bf4d77b3d8a9abc38fd1e7.setOption(option_e171822fc2bf4d77b3d8a9abc38fd1e7);
    </script>
</body>
</html>
